/*SOURCE: http://stackoverflow.com/questions/3900658/how-to-change-font-face-of-webview-in-android */
@font-face {
    font-family: 'LatoLatinWeb';
    src: url("file:///android_asset/fonts/LatoLatin-Regular.ttf")
}

@font-face {
    font-family: 'LatoLatinWebBlack';
    src: url("file:///android_asset/fonts/LatoLatin-Black.ttf")
}

/*
body {
    max-width: 100%;
}
*/

div.articleText { /* naming according to Templator getFullTeplate() */
    font-family: "LatoLatinWeb";
	color: #3b454a;
	line-height: 1.42857143;
	/*max-width: 100%; */
}

/*font-size specified programatically acording to actual settings (small, normal, big text size)*/
p {
	font-family: "LatoLatinWeb"; 
	color: #3b454a;
	line-height: 1.42857143;
	/*max-width: 100%; */
}

img {
	max-width: 100%;
	height: auto;
}