<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="bc.cestaplus" >

    <uses-permission android:name="android.permission.INTERNET" > </uses-permission>

    <!-- Always required on api < 21, needed to keep a wake lock while your job is running -->
    <uses-permission android:name="android.permission.WAKE_LOCK" > </uses-permission>

    <!-- Required on api < 21, if oyu are using setRequiredNetworkType(int) -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" > </uses-permission>

    <!-- Required on all api levels if you are using setPersisted(true) -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" > </uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"

        android:name=".utilities.CustomApplication"
        >

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"

            android:launchMode = "singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ArticleActivity_OtherWay"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/title_activity_clanok"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.ArticleActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_clanok"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".activities.RubrikaAktivity"
            android:label="@string/title_activity_rubrika_aktivity"
            android:parentActivityName=".activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <service
            android:name=".services.MyService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" >
        </service>

    </application>

</manifest>
